<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f='ngForm'>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Nome</label>
          <input
            id="name"
            type="text"
            class="form-control"
            name="name"
            ngModel
            required
            #nameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Qtd.</label>
          <input
            id="amount"
            type="number"
            class="form-control"
            style="max-width: 100px;"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
            #amountInput>
        </div>
      </div>
      <div class="row">
        <div
          class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid"
            style="margin-right: 10px;">
            {{editMode ? 'Alterar' : 'Adicionar'}}
          </button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
            style="margin-right: 10px;">
            Deletar
          </button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Limpar</button>
        </div>
      </div>
    </form>
  </div>
</div>
